<p id="notice"><%= notice %></p>

<h1>Mealplans</h1>

<table>
  <thead>
    <tr>
      <th>Breakfast</th>
      <th>Snack</th>
      <th>Lunch</th>
      <th>Snack</th>
      <th>Dinner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mealplans.each do |mealplan| %>
      <tr>
        <td><%= mealplan.breakfast %></td>
        <td><%= mealplan.snack %></td>
        <td><%= mealplan.lunch %></td>
        <td><%= mealplan.snack %></td>
        <td><%= mealplan.dinner %></td>
        <td><%= link_to 'Show', mealplan %></td>
        <td><%= link_to 'Edit', edit_mealplan_path(mealplan) %></td>
        <td><%= link_to 'Destroy', mealplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mealplan', new_mealplan_path %>
